<h1> This is the hidden page</h1 >
    <p><center>
      Date
      <!--mostrar sesion con tiempo actual-->
    </center></p>
    <!-- mostrar nombre -->
    <p>Hello <%= @user.name%>  </p>
    <br>
    <!-- mostrar id -->
    <div id='parraf'>
  <form id="forma_url" action="/urls" method="post" name="formName">
    <h4>Introduce your URL</h4>
    <br>
    <input id="text_id_user_login" type="text" name="user_input" value="paste your URL!">
    <input id="boton_user_login" type="submit" value="Shorten it!">
    </div>
  </form>
<p> This are all your ShortenedUrls's:</p>
<% if @urls_total_user%>
<% @urls_total_user.each_with_index do |x, index|%>
<br>
<%="*"*150%><br>
<%=index+1%>.-The short link is:<a target="_blank" href=" <%= x.id %> "> <%= x.short %> </a>...............................You have visited this site <%= x.visits%> times
<%end%>
<%end%><br>
      <a href='/logout'>Close
      </a>
    

